* {
    box-sizing: border-box;
}

  body {
    position: relative;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: black;
    --white-color: white;
    --red-color: red;
    --green-color: green;
    --blue-color: blue;
    --background-color: rgb(250, 249, 249);
    --banner-height: 9rem;
    --default-border: 2px solid var(--red-color);
}

@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}
main {
    display: flex;
    width: max(900px, 100vw);
    height: max(600px, 100vh);
}

#sub-main-container-left {
    display: flex;
    flex-direction: column;
    width: max(300px, 35vw);
    background: url(assets/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: var(--default-border);
}

.background-img {
    width: 100px;
}

.left-banner {
    position: absolute;
    top: 22vh;
    left: 0;
    display: flex;
    justify-content: center;
    width: inherit;
    padding: 10px;
    height: var(--banner-height);
    background-color: rgb(0, 0, 0, .4);
}

.left-banner::after{
    content: "ODIN";
    font-family: Norse-Bold, sans-serif;
    font-size: 6rem;
    align-self: center;
    color: var(--white-color);
}

.left-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: inherit;
    color: var(--white-color);
    opacity: .75;
}

.span-underline {
    text-decoration: underline;
}



#sub-main-container-right {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 65vw;
    height: inherit;
    border: var(--default-border);
}

#sub-main-container-right > div {
    flex-grow: 1;
}

.right-header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
    width: 60ch;
}

.bottom-p {
    margin-bottom: 3rem;
}

.right-form-container {
    background-color: white;
    box-shadow: 0 5px 7px rgba(0,0,0,.1);
}

